.card {
  border: 1px solid #e2e7f1 !important;
}

.table-heading {
  font-size: 16px !important;
  font-weight: 500 !important;
  padding-left: 12px !important;
}

.page-title {
  color: rgb(70, 71, 70) !important;
  font-weight: 600 !important;
  font-family: sans-serif !important;
}

.common-title {
  font-weight: 500 !important;
  font-size: 17px !important;
  // padding: 2px !important;
  padding-top: 3px !important;
  line-height: 20px !important;
}

.page-title div {
  margin: 15px !important;
}


.badge-soft-success{
    color: #43d39e !important;
    background-color: rgba(67, 211, 158, 0.18) !important;
    box-shadow: none;
    font-size: 13px !important;
    line-height: 0px !important;
    padding: 7px 5px !important;
    border-radius: 4px !important;
}

.badge-soft-danger{
    color: #ff5c75 !important;
    background-color: rgba(255, 92, 117, 0.18) !important;
    box-shadow: none;
    font-size: 13px !important;
    line-height: 0px !important;
    padding: 7px 5px !important;
    border-radius: 4px !important;
}
.badge-soft-dark{
    color: #686666 !important;
    background-color: rgba(161, 150, 151, 0.18) !important;
    box-shadow: none;
    font-size: 13px !important;
    line-height: 0px !important;
    padding: 7px 5px !important;
    border-radius: 4px !important;
}
