.plan-status {
  .form-check-label {
    color: #343a40;
    cursor: pointer;
  }

  .dropdown-item:hover,
  .dropdown-item:focus {
    background: transparent !important;
  }
}

.stock-create {
  margin-bottom: 45px;
}

.user-name {
  width: 300px;
}

.user-email {
  width: 500px;
}

.user-manage {
  table {
    tr td button {
      padding: 0 !important;
      width: 70px;
      height: 30px;
    }
  }

  svg:hover {
    transition: all 0.4s;
    color: #5369f8 !important;
  }
}

.user-details {
  .nav-link {
    color: #000 !important;
    font-size: 0.95rem !important;
  }

  .nav-tabs .active {
    color: #5369f8 !important;
    border-bottom: 2px solid #5369f8 !important;
  }

  .user-search {
    width: 330px !important;
  }

  .user-list li p {
    text-overflow: ellipsis;
    width: 173px !important;
  }

  .user-list li p:first-child {
    text-overflow: ellipsis;
    width: 150px !important;
  }
}

.search-box {
  top: -5px;
  width: 280px;

  .fa-search,
  .fa-times {
    top: 9px;
    right: 6px;
    color: #bdbdbd;
  }

  .input-border {
    position: absolute;
    top: 16px;
    left: 0;
    height: 0;
    bottom: 0;
    width: 100%;
    transition: 0.2s ease all;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 45%;
      height: 2px;
      top: 12px;
      width: 10px;
      visibility: hidden;
      background-color: var(--base-link-color);
      transition: 0.2s ease all;
    }
  }

  .form-control {
    border-width: 0 0 1px;
    border-bottom-color: #bdbdbd;
    color: rgba(0, 0, 0, 0.555);

    &:focus {
      ~ .input-border {
        &:after {
          visibility: visible;
          width: 100%;
          left: 0;
          top: 12px;
        }
      }
    }
  }

  ::placeholder {
    color: rgba(0, 0, 0, 0.555);
  }
}

.user-details .search-box {
  width: 400px !important;

  .user-list {
    scrollbar-color: #5369f8 !important;
    height: max-content;
    z-index: 2;

    li p {
      width: 270px;
    }

    a:hover {
      color: #5369f8 !important;
      transition: all 0.4s;
    }
  }
}

.stock-analysis-table {
  table {
    tbody {
      tr {
        td:last-child {
          svg:first-child {
            &:hover {
              color: rgb(42, 160, 42);
              transition: all 0.4s;
            }
          }

          svg:last-child {
            &:hover {
              color: rgb(247, 54, 54);
              transition: all 0.4s;
            }
          }
        }
      }
    }
  }
}

.nav-tabs .nav-link,
.nav-tabs .nav-link.active {
  border: none;
  color: rgb(75, 75, 75) !important;
  letter-spacing: 1px;
}

.nav-tabs .nav-link.active {
  color: var(--base-link-color) !important;
  border-bottom: 2px solid var(--base-link-color) !important;
}

.common-input-feild {
  border: 1px solid rgb(189, 187, 187);
}

.common-input-feild:focus {
  box-shadow: none;
}

@media (max-width: 991px) {
  .search-box {
    width: 40% !important;
  }
}

@media (max-width: 319px) {
  .search-box {
    width: 32% !important;
  }
}
