.login-page {
  min-height: 100vh;
  background: url('/images/dashboard-images/auth-v1-tree.png'), url('/images/dashboard-images/auth-v1-tree-2.png'),
    url('/images/dashboard-images/auth-v1-mask-light.png');
  background-color: var(--base-color-8);
  background-position: left bottom 4%, right bottom 7%, bottom;
  background-repeat: no-repeat;
  background-size: 12%, 20%, 100%;
}
.login-left-banner {
  background: url('/images/dashboard-images/port-kabaddi.webp');
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #364574, #405189);
    opacity: 0.2;
  }
}

.login-left-banner {
  max-width: 400px;
}
.password-input {
  .show-password-eye {
    top: 62% !important;
    right: 2%;
  }
}
.login-box {
  box-shadow: 0px 2px 10px 0px rgba(58, 53, 65, 0.1);
}

.forget-tag {
  background: #fef4e4;
}
.forgot-image {
  max-width: 150px;
}
@media (max-width: 991px) {
  .login-left-banner {
    max-width: 300px;
  }
}
