body,
html {
  scroll-behavior: smooth;
  background-color: #f8f9fa !important;
  font-family: 'IBM Plex Sans', sans-serif !important;
}

a {
  text-decoration: none;

  &:hover {
    transition: all 0.4s !important;
    color: var(--base-link-color) !important;
  }
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700 !important;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-28 {
  font-size: 28px;
}

.ms-custom{
  margin-left: 2rem ;
}

.label-red {
  color: var(--label-red) !important;
}

.label-green {
  color: var(--label-green) !important;
}

.base-color {
  color: var(--base-color-1);
}

.base-link-color {
  color: var(--base-link-color);
}

.base-color-2 {
  color: var(--base-color-2) !important;
}

.base-color-3 {
  color: var(--base-color-3);
}

.cursor-pointer {
  cursor: pointer;
}

.bg-blue {
  background: var(--base-link-color);
}

.label-color-green {
  color: var(--label-color-green);
}

.comon-light-blue-bg {
  background: var(--base-color-5);
}

.banner-bg {
  background: var(--base-color-8);
}

.bg-light-sky {
  background: var(--base-color-8);
}

.bg-light-red {
  background: var(--bg-light-red);
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: var(--base-link-color);
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #000 !important;
}

.web-button {
  background-color: var(--base-link-color) !important;
  border: 1px solid transparent !important;

  &:hover {
    transition: all 0.4s;
    background-color: var(--bg-white) !important;
    color: var(--base-link-color) !important;
    border: 1px solid var(--base-link-color) !important;
  }
}

.csb-button {
  border-radius: 0.375rem !important;
  border: 1px solid transparent !important;
  padding: 0.38rem 0.8rem !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
}

.jodit-react-container {
  .jodit-workplace {
    min-height: 300px !important;
  }

  .jodit-add-new-line,
  .jodit-status-bar__item-right:last-child {
    display: none !important;
  }
}

.date-picker {
  input[type='date']::-webkit-calendar-picker-indicator {
    bottom: 0 !important;
    cursor: pointer;
    left: 0 !important;
    position: absolute;
    right: 0 !important;
    top: 0 !important;
    height: auto !important;
    width: auto !important;
    opacity: 0 !important;
  }
}

.common-input-feild {
  border: 1px solid rgb(189, 187, 187);

  &:focus {
    border-color: var(--base-link-color) !important;
    box-shadow: none;
  }
}

select {
  border: 1px solid rgb(189, 187, 187) !important;
  outline: 0px;
}

.w-max-content {
  width: max-content;
}

.cursor-notallowed {
  cursor: not-allowed !important;
}

input::file-selector-button {
  display: none;
}

.card {
  border: 1px solid #e2e7f1 !important;
}

table {
  tr {
    th {
      font-size: 14px !important;
      font-weight: 500 !important;
      color: #343a40 !important;

      div {
        cursor: pointer;
        font-size: 14px !important;
        font-weight: 500 !important;
        color: #343a40 !important;
        display: flex !important;
        width: max-content;
        align-items: center !important;

        svg:hover {
          transition: all 0.4s;
          cursor: pointer;
          color: var(--base-link-color) !important;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        padding: 0.85rem 0.85rem !important;
        font-size: 14px !important;
        font-weight: 400 !important;
        color: #343a40 !important;

        span {
          font-weight: unset !important;
        }
      }

      &:hover {
        transition: all 0.4s;
        border-color: var(--base-link-color) !important;
      }
    }
  }
}

.page-title {
  color: rgb(70, 71, 70) !important;
  font-weight: 500 !important;
}

.common-title {
  font-weight: 500 !important;
  font-size: 15px !important;
  padding-top: 3px !important;
  line-height: 20px !important;
}

.page-title div {
  margin: 15px !important;
}

.modal-height {
  height: 90vh;
}

.badge-soft-success {
  color: #43d39e !important;
  background-color: rgba(67, 211, 158, 0.18) !important;
  box-shadow: none;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.badge-soft-danger {
  color: #ff5c75 !important;
  background-color: rgba(255, 92, 117, 0.18) !important;
  box-shadow: none;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.badge-soft-warning {
  color: #ffbe0b !important;
  background-color: rgba(255, 190, 11, 0.18) !important;
  box-shadow: none;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.badge-soft-info {
  color: #25c2e3;
  background-color: rgba(37, 194, 227, 0.18);
  box-shadow: none;
}

.badge-soft-dark {
  color: #343a40 !important;
  background-color: rgba(52, 58, 64, 0.18) !important;
  box-shadow: none;
  font-size: 12px !important;
  font-weight: 500 !important;
}

//new classes added

@media (max-width: 991px) {
  .p-content {
    font-size: 12px;
  }

  .section-heading {
    font-size: 18px;
  }

  .common-heading {
    font-size: 17px;
  }

  .card-heading {
    font-size: 16px;
    line-height: 22px !important;
  }
}

@media (max-width: 768px) {
  .btn-padding {
    padding: 8px 20px;
  }

  .section-title {
    font-size: 28px;
    line-height: 38px;
  }

  .section-subtitle {
    font-size: 15px;
    line-height: 21px;
  }
}