body,
html {
  scroll-behavior: smooth;
  background-color: #f8f9fa !important;
  font-family: 'IBM Plex Sans', sans-serif !important;
}

a {
  text-decoration: none;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700 !important;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-28 {
  font-size: 28px;
}

.label-red {
  color: var(--label-red) !important;
}

.label-green {
  color: var(--label-green) !important;
}

.base-color {
  color: var(--base-color-1);
}

.base-link-color {
  color: var(--base-link-color);
}

.base-color-2 {
  color: var(--base-color-2) !important;
}

.base-color-3 {
  color: var(--base-color-3);
}

.cursor-pointer {
  cursor: pointer;
}

.bg-blue {
  background: var(--base-link-color);
}

.label-color-green {
  color: var(--label-color-green);
}

.comon-light-blue-bg {
  background: var(--base-color-5);
}

.banner-bg {
  background: var(--base-color-8);
}

.bg-light-sky {
  background: var(--base-color-8);
}

.bg-light-red {
  background: var(--bg-light-red);
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: var(--base-link-color);
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #000 !important;
}

.web-button {
  background-color: var(--base-link-color) !important;
  border: 1px solid transparent !important;

  &:hover {
    transition: all 0.4s;
    background-color: var(--bg-white) !important;
    color: var(--base-link-color) !important;
    border: 1px solid var(--base-link-color) !important;
  }
}

.table-user {
  th {
    color: var(--base-color-4) !important;
  }

  td {
    padding: 0.85rem 0.85rem !important;
  }

  tbody {
    tr:hover {
      transition: all 0.4s;
      border-color: var(--base-link-color) !important;
    }
  }
}

.jodit-react-container {
  .jodit-workplace {
    min-height: 300px !important;
  }

  .jodit-add-new-line,
  .jodit-status-bar__item-right:last-child {
    display: none !important;
  }
}

.date-picker {
  input[type='date']::-webkit-calendar-picker-indicator {
    bottom: 0 !important;
    cursor: pointer;
    left: 0 !important;
    position: absolute;
    right: 0 !important;
    top: 0 !important;
    height: auto !important;
    width: auto !important;
    opacity: 0 !important;
  }
}

select {
  border: 0px;
  outline: 0px;
}

.w-max-content {
  width: max-content;
}

.cursor-notallowed {
  cursor: not-allowed !important;
}

input::file-selector-button {
  display: none;
}

//new classes added

@media (max-width: 991px) {
  .p-content {
    font-size: 12px;
  }

  .section-heading {
    font-size: 18px;
  }

  .common-heading {
    font-size: 17px;
  }

  .card-heading {
    font-size: 16px;
    line-height: 22px !important;
  }
}

@media (max-width: 768px) {
  .btn-padding {
    padding: 8px 20px;
  }

  .section-title {
    font-size: 28px;
    line-height: 38px;
  }

  .section-subtitle {
    font-size: 15px;
    line-height: 21px;
  }
}