:root {
  --base-color-1: #05264e;
  --base-color-2: #66789c;
  --base-color-3: #4f5e64;
  --label-color-white: #fff;
  --label-green: #0db14b;
  --label-red: #ed5163;
  --bg-white: #fff;

  --base-link-color: #2196f3;

 
}
